mixin ms(msg)
    .message-item(id="mid"+msg._id)
        .message-item-avatar= msg.from[0]
        .message-item-content
            .message-item-owner= msg.from
            .message-item-msg= msg.msg
            .message-item-date= msg.date

mixin mms(msg)
    .message-item.msg-me(id="mid"+msg._id)
        .me-avatar-fix
            .message-item-avatar= msg.from[0]
        .message-item-content
            .message-item-owner= msg.from
            .message-item-msg= msg.msg
            .message-item-date= msg.date


each msg in msgs
    if msg.me
        +mms(msg)
    else
        +ms(msg)